$grey: hsl(0,0%,94%)
$black: hsl(0,0%,0%)
$white: hsl(0,0%,100%)
$red: hsl(358,87%,46%)
$cian: hsla(186, 100%, 69%,.7)

$error: $red
$main-bg: $grey
$elements-bg: $white
$text-main: $black
$text-form: $grey
$text-special-color: darken($cian, 30%)
$border-color: lighten($black, 60%)
$border-special-color: $cian
$headline-color: lighten($black, 20%)
$icon-default: lighten($black, 40%)
$icon-hover: $black
$scrollbar-color: $cian
$scrollbar-bg: $white
$open-menu-bg: transparentize(lighten($black, 90%), .9)
$menu-line-color: $cian

$slider-dots-bg-color: $cian
$slider-text-special-color: $cian
$slider-text-paragraph-color: $white
$slider-text-link-color: $white
:root
  --width-value: 280px

$xs: 0px,
$sm: 576px,
$md: 768px,
$lg: 992px,
$xl: 1200px,
$xxl: 1400px